.idea/
.metals/
.vscode/
*/.vscode/
*/__pycache__/*
*/venv/*
server/query_data*
server/target
server/project/target
server/project/project
server2/src/App/bin/
server2/src/App/obj/
server2/src/App.Tests/obj/
server2/src/App.Tests/bin/
interpreter/
.fake
kafka/
*/node_modules/*
*/dist/*
*/.bsp/*